{% extends 'base.html.twig' %}

{% block title %}
    À propos de Zorglux
{% endblock %}

{% block body_header %}
    {% include '@common/navbar.html.twig' %}
{% endblock %}

{% block body_content %}
    <twig:Container>
        <h1 class="text-5xl font-extrabold mb-5">Tout le monde a une histoire à raconter</h1>
        <section id="about" class="mb-5">
            <h2 class="text-2xl mb-2 font-bold">1. Qu'est-ce que Zorglux ?</h2>
            <p>Zorglux est une plateforme dynamique conçue pour les blogueurs de tous horizons afin de partager leurs
                histoires, idées et expériences avec un large public. Que vous soyez un écrivain chevronné ou que vous
                débutiez tout juste, Zorglux offre les outils et la communauté pour faire entendre votre voix.</p>
            <br>
            <h3 class="mb-2 font-bold">Notre Mission</h3>
            <p>Notre mission chez Zorglux est de permettre aux individus de s'exprimer librement et de se connecter avec
                d'autres à travers un contenu significatif. Nous croyons au pouvoir des histoires pour inspirer,
                informer et unir les gens de tous horizons. En fournissant une plateforme inclusive, nous visons à
                favoriser une communauté dynamique où les voix diverses sont célébrées.</p>
            <br>

            <h3 class="mb-2 font-bold">Pourquoi Choisir Zorglux ?</h3>
            <ul class="list-disc ml-5">
                <li>Outils de blogging faciles à utiliser qui conviennent aussi bien aux débutants qu'aux blogueurs
                    expérimentés.
                </li>
                <li>Une communauté solidaire qui encourage l'interaction et la croissance.</li>
                <li>Modèles de blog personnalisables pour vous aider à créer une présence en ligne unique.</li>
                <li>Plateforme SEO-friendly pour aider votre contenu à atteindre un public plus large.</li>
                <li>Mises à jour régulières et nouvelles fonctionnalités pour améliorer votre expérience de blogging.
                </li>
            </ul>
        </section>

        <section id="features" class="mb-5">
            <h2 class="text-2xl mb-2 font-bold">2. Fonctionnalités de Zorglux</h2>
            <p>Zorglux propose une gamme de fonctionnalités conçues pour rendre le blogging simple, agréable et efficace
                :</p>
            <ul class="ml-5 list-disc">
                <li><strong>Modèles Personnalisables :</strong> Choisissez parmi une variété de modèles de blog pour
                    correspondre à votre style. Ajustez facilement les mises en page, les polices et les couleurs pour
                    créer un blog qui vous représente.
                </li>
                <li><strong>Outils SEO :</strong> Utilisez des outils intégrés pour optimiser votre contenu pour les
                    moteurs de recherche, vous aidant à attirer plus de lecteurs et à développer votre audience.
                </li>
                <li><strong>Engagement Communautaire :</strong> Connectez-vous avec d'autres blogueurs et lecteurs grâce
                    aux commentaires, aux likes et au partage sur les réseaux sociaux. Favorisez des interactions
                    significatives et construisez un public fidèle.
                </li>
                <li><strong>Analytiques :</strong> Suivez les performances de votre blog avec des analyses détaillées et
                    des informations. Comprenez mieux votre audience et adaptez votre contenu à leurs besoins.
                </li>
                <li><strong>Options de Monétisation :</strong> Explorez diverses options de monétisation, telles que les
                    publicités et le contenu sponsorisé, pour transformer votre passion pour le blogging en source de
                    revenus.
                </li>
                <li><strong>Adapté aux Mobiles :</strong> Zorglux assure que votre blog ait fière allure sur n'importe
                    quel appareil, facilitant l'accès à votre contenu en déplacement.
                </li>
            </ul>
        </section>

        <section id="community" class="mb-5">
            <h2 class="text-2xl mb-2 font-bold">3. Rejoignez la Communauté Zorglux</h2>
            <p>Chez Zorglux, nous croyons au pouvoir de la communauté. Notre plateforme est conçue pour vous aider à
                vous connecter avec des individus partageant les mêmes idées, à partager vos passions et à développer
                votre réseau.</p><br>
            <ul class="ml-5 list-disc">
                <li><strong>Profils Interactifs :</strong> Créez un profil détaillé pour mettre en valeur vos intérêts,
                    blogs et réalisations.
                </li>
                <li><strong>Discussions de Groupe :</strong> Participez à des discussions de groupe sur une variété de
                    sujets. Partagez des idées, posez des questions et apprenez des autres.
                </li>
                <li><strong>Événements et Webinaires :</strong> Rejoignez des événements exclusifs et des webinaires
                    animés par des blogueurs expérimentés et des experts de l'industrie.
                </li>
                <li><strong>Programmes de Mentorat :</strong> Accédez à des programmes de mentorat pour obtenir des
                    conseils et un soutien de blogueurs chevronnés.
                </li>
                <li><strong>Opportunités de Réseautage :</strong> Connectez-vous avec d'autres blogueurs et
                    professionnels de l'industrie pour élargir votre réseau et explorer de nouvelles opportunités.
                </li>
            </ul>
        </section>

        <section id="contact" class="mb-5">
            <h2 class="text-2xl mb-2 font-bold">4. Contactez-nous</h2>
            <p>Si vous avez des questions ou des commentaires, n'hésitez pas à nous contacter :</p>
            <ul class="ml-5 list-disc">
                <li>Email : <a href="mailto:contact@zorglux.com">contact@zorglux.com</a></li>
                <li>Téléphone : <a href="tel:+1234567890">123-456-7890</a></li>
                <li>Adresse : 123 Zorglux Lane, Blogtown, BL 12345</li>
            </ul>
        </section>
    </twig:Container>
{% endblock %}
