{% extends '@common/user/base.html.twig' %}

{% block title %}Write an article{% endblock %}

{% block body %}
    <div {{ stimulus_controller('quill', {
        options: {
            placeholder: 'Write your article here...',
            theme: 'snow',
            modules: {
                toolbar: [
                    [
                        { 'header': '1'}, {'header': '2'}, {'header': '3'}, { 'header': [4, 5, 6] }, { 'size': [] },
                    ],
                    ['bold', 'italic', 'underline', 'strike'],
                    ['blockquote', 'code-block'],
                    [{ 'list': 'ordered'}, { 'list': 'bullet' },
                        { 'indent': '-1'}, { 'indent': '+1' }],
                    ['link', 'image', 'video'],
                    [{ 'color': [] }, { 'background': [] }],
                    [{ 'align': [] }],
                    ['clean']
                ],
                clipboard: {
                    matchVisual: false
                },
                history: {
                    delay: 2000,
                    maxStack: 500,
                    userOnly: true
                }
            },
            readOnly: false,
            bounds: '#editor-container',
            scrollingContainer: '#scrolling-container',
            formats: [
                'header', 'font', 'size', 'bold', 'italic', 'underline', 'strike',
                'blockquote', 'list', 'bullet', 'indent', 'link', 'image', 'video', 'color', 'background', 'align'
            ],
        }
    }) }}>
        <div {{ stimulus_target('quill', 'editor') }}>

        </div>
    </div>
{% endblock %}
