{% set footerItem = [
    {
        title: 'Blogs',
        url: path('blog_index'),
    },
    {
        title: 'Réseaux sociaux',
        url: path('public_social_share'),
    },
    {
        title: 'À propos',
        url: path('public_about'),
    },
    {
        title: 'Contact',
        url: path('public_contact'),
    },
] %}

<div class="mt-auto bg-gray-100 shadow-2xl border-t border-t-gray-100 text-gray-700 text-sm md:text-md p-5 flex flex-col md:items-center">
    <div class="mb-2">
        <ul class="m-0 list-none flex flex-col md:flex-row">
            {% for item in footerItem %}
                <li class="mb-2 md:mb-0 mx-2">
                    <a href="{{ item.url }}" class="text-gray-700">{{ item.title }}</a>
                </li>
            {% endfor %}
        </ul>
    </div>

    {% set socials = [
        {
            title: 'Twitter',
            url: 'https://x.com/zorglux_works',
            icon: 'fab fa-twitter',
        },
        {
            title: 'Facebook',
            url: 'https://www.facebook.com/zorglux/',
            icon: 'fab fa-facebook',
        },
        {
            title: 'YouTube',
            url: 'https://www.youtube.com/@zorglux-works',
            icon: 'fab fa-youtube',
        },
        {
            title: 'TiTok',
            url: 'https://www.tiktok.com/@zorglux.works',
            icon: 'fab fa-tiktok',
        },
        {
            title: 'LinkedIn',
            url: 'https://www.linkedin.com/in/zorglux/',
            icon: 'fab fa-linkedin',
        },
    ] %}

    <div class="flex justify-center">
        {% for social in socials %}
            <a href="{{ social.url }}" target="_blank" class="text-gray-800 mx-1">
                <i class="{{ social.icon }} text-base"></i>
            </a>
        {% endfor %}
    </div>

    <p class="pt-4 text-gray-500 text-xs flex flex-row items-center justify-center italic">
        <small class="mr-1">⚠️</small>
        <span>Ce site est créé dans le cadre d'un projet pédagogique.</span>
    </p>
</div>
