<nav>
    <div class="flex flex-row items-center justify-between p-4 shadow">
        <div class="flex flex-row items-center">
            <a href="{{ path('public_index') }}">
                <img src="{{ asset('build/images/logo.svg') }}" alt="zorglux logo" class="w-8 mr-4">
            </a>
            <div>
                {% include '@components/search-form.html.twig' %}
            </div>
        </div>
        <div class="flex flex-row items-center">
            <a href="{{ path('public_about') }}" class="mr-2 text-gray-500">About</a>
            <a href="{{ path('signin') }}" class="mr-2">Sign In</a>
            <twig:Avatar size="30"/>
        </div>
    </div>
</nav>
