<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="keywords" content="Zorglux, blog, histoires, expériences, communauté, écriture, partage, narration, plateforme">
    {% block meta %}
        <meta name="description" content="Découvrez une communauté vibrante de conteurs et de leaders d'opinion sur Zorglux. Exprimez-vous, connectez-vous avec des personnes partageant les mêmes idées et explorez un monde d'histoires et d'idées inspirantes.">
        <meta name="author" content="Johan Mickaël">
    {% endblock %}

    {% block meta_og %}
        <meta property="og:title" content="Zorglux - Partagez vos Histoires et Idées">
        <meta property="og:description" content="Zorglux est une plateforme de blog dynamique où vous pouvez partager vos histoires, idées et expériences avec une communauté mondiale. Rejoignez-nous dès aujourd'hui pour lire, écrire et vous connecter avec des personnes partageant les mêmes idées.">
        <meta property="og:image" content="https://zorglux-bucket.s3.eu-north-1.amazonaws.com/default/logo.png">
        <meta property="og:url" content="{{ path('blog_index') }}">
    {% endblock %}

    {% block meta_twitter %}
        <meta name="twitter:card" content="summary_large_image">
        <meta name="twitter:title" content="Zorglux - Partagez vos Histoires et Idées">
        <meta name="twitter:description" content="Zorglux est une plateforme de blog dynamique où vous pouvez partager vos histoires, idées et expériences avec une communauté mondiale. Rejoignez-nous dès aujourd'hui pour lire, écrire et vous connecter avec des personnes partageant les mêmes idées.">
        <meta name="twitter:image" content="https://zorglux-bucket.s3.eu-north-1.amazonaws.com/default/logo.png">
    {% endblock %}

    <title>{% block title %}Zorglux - Blog : lire, écrire, apprendre et plus encore{% endblock %}</title>

    <!-- Preload Google Fonts -->
    <link rel="preload" href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" as="style" onload="this.onload=null;this.rel='stylesheet'">
    <noscript>
        <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap">
    </noscript>

    {% block stylesheets %}
        {{ encore_entry_link_tags('app') }}
    {% endblock %}

    {% block javascripts %}
        {{ encore_entry_script_tags('app') }}
    {% endblock %}
    <script src="https://kit.fontawesome.com/e164d72746.js" crossorigin="anonymous" defer></script>
</head>
{% block body %}
    <body>
    <header class="sticky top-0 left-0" {{ stimulus_controller('menu_toggler') }}>
        {% block body_header %}{% endblock %}
    </header>
    <main>
        {% block body_content %}{% endblock %}
    </main>
    <footer>
        {% block body_footer %}{% endblock %}
    </footer>
    </body>
{% endblock %}
</html>
