<div {{ attributes }}>
    <button class="{{ this.classes }}"
         data-action="live#action"
         data-live-action-param="toggleLike"
    >
        <i class="{{ this.iconType }} fa-heart"></i>
        <span>{{ this.likes }}</span>
    </button>
</div>
