{% extends 'base.html.twig' %}

{% block body_header %}
    {% include '@common/navbar.html.twig' %}
{% endblock %}

{% block body_content %}
    <div class="flex flex-col justify-center h-screen">
        <h1 class="text-5xl md:text-9xl font-bold">Human<br> stories and ideas</h1>
        <p class="my-5 text-lg md:text-2xl">A place to read, write, and deepen your understanding</p>
        <button
            {{ stimulus_controller('clickable', { url: path('app_login') }) }}
            {{ stimulus_target('clickable', 'element') }}
            class="md:w-1/4 text-white bg-black rounded-xl md:rounded-full px-4 py-2 md:px-6 md:py-3">
                Get started
        </button>
    </div>
{% endblock %}
