{% extends 'base.html.twig' %}

{% block body_header %}
    {% include '@common/navbar.html.twig' %}
{% endblock %}

{% block body %}
    {% set options = {
        classes: 'cursor-pointer border-b border-b-gray-100 py-8',
    } %}

    {% for blog in blogs %}
        <div {{ stimulus_controller('clickable', {
            url: path('admin_blog_show', { id: blog.id }),
        }) }}>
            <twig:BlogCard :blog="blog" :options="options" />
        </div>
    {% endfor %}
{% endblock %}
